.footer-text {
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    font-size: 8px;
    font-weight: lighter;
}

.footer-container {
    position: relative;
    overflow: hidden;
    clip-path: polygon(0% 22%, 100% 22%, 100% 78%, 0% 78%);
    margin-top: -14.5%;
}

.footer-container img {
    max-height: 100%;
    width: auto;
}


@media (width <= 1200px) {
    .footer-container {
        clip-path: polygon(0% 22%, 100% 22%, 100% 82%, 0% 82%);
        margin-top: -14.5%;
    }

    .footer-container img {
        height: 100%;
    }
}

@media (width <= 800px) {
    .footer-text {
        top: 39%;
    }
    .footer-container {
        clip-path: polygon(0% 3%, 100% 3%, 100% 98%, 0% 98%);
        margin-top: -14.5%;
    }
}