.portfoliobanner-text {
    font-family: "Inter", sans-serif;
    font-style: italic;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

.portfoliobanner-sub-text {
    font-family: "Inter", 'Inter Placeholder', 'Generic sans-serif font', sans-serif;
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    font-weight: 500;
    font-size: large;
}

.portfolio-container {
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
    background-image: url('../../../Images/portfolio-banner.webp');
    background-size: cover;
    background-position: center center;
    margin-top: -4.4%;
}
/* 
.portfolio-bg-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    image-rendering: auto;
    transform: scale(1.098);
} */

.boxes {
    display: flex;
    height: 100%;
    justify-content: center;
}

.box-1, .box-2, .box-3, .box-4 {
    height: 500px;
    margin: 3px;
    border-radius: 20px;
}

.box-1 {
    background-color: #4cf;
    flex: 0 0 149px;
}

.box-2 {
    background-color: #9ef;
    flex: 0 0 260px;
}

.box-3 {
    background-color: #3af;
    flex: 0 0 198px;
}

.box-4 {
    background-color: #4cf;
    flex: 0 0 335px;
}

.bottom-banner-img {
    filter: saturate(130%);
}

.bottom-banner-container {
    background-color: #f15946;
}

@media (width <= 1500px) {
    .boxes {
        align-items: center;
        padding-top: 138px;
    }
}

@media (width <= 1200px) {
    .portfolio-container {
        height: 680px;
        margin-top: -4.4%;
    }
    .portfoliobanner-text {
        top: 10%;
        font-size: xx-large;
    }
    .portfoliobanner-sub-text {
        top: 14%;
    }
    .boxes {
        padding-top: 109px;
        min-width: 1000px;
    }
}

@media (width <= 800px) {
    .portfolio-container {
        height: 680px;
        margin-top: -7%;
    }
    .portfoliobanner-text {
        top: 10%;
        font-size: xx-large;
    }
    .portfoliobanner-sub-text {
        top: 15%;
        min-width: max-content;
    }
    .boxes {
        padding-top: 96px;
        min-width: 1000px;
    }
}