.homebanner-text {
    font-family: "Inter", sans-serif;
    font-style: italic;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

.home-container {
    position: relative;
    background-size: cover;
}

@media (width <= 1500px) {
    .home-container {
        height: 800px;
        width: 100%;
        overflow: hidden;
        background-image: url('../../../Images/home-banner-lg.webp');
        background-size: cover;
        background-position: center center;
    }

    .homebanner-text {
        font-weight: 850;
        font-size: 32px;
        width: max-content;
        top: 78%;
    }
}

@media (width <= 1200px) {
    .home-container {
        height: 800px;
        width: 100%;
        overflow: hidden;
        background-image: url('../../../Images/home-banner-md.webp');
        background-size: cover;
        background-position: center center;
    }

    .homebanner-text {
        font-weight: 850;
        font-size: 23px;
        width: max-content;
        top: 76%;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        -webkit-font-smoothing: antialiased;
    }
}

@media (width <= 800px) {
    .home-container {
        height: 600px;
        width: 100%;
        overflow: hidden;
        background-image: url('../../../Images/home-banner-sm.webp');
        background-size: cover;
        background-position: center center;
    }

    .homebanner-text {
        font-weight: 850;
        font-size: 22px;
        line-height: 23px;
        width: min-content;
        top: 87%;
    }
}