.footer-text {
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    font-size: 8px;
    font-weight: lighter;
}

.footer-container {
    position: relative;
    overflow: hidden;
    clip-path: polygon(0% 22%, 100% 22%, 100% 78.3%, 0% 78%);
    margin-top: -14.5%;
}